/* Primera Barra en negro */
.Primera {
    background-color: black;
    font-family: 'Roboto', sans-serif;
    color: white;
}
/* Barra Menu de navegacion */
.Menu{
    background-color: #F0A83E;
    color: white;
    font-family:'Roboto', sans-serif;
    
}