* {
    font-family: 'Roboto', sans-serif;
}
/* Primera Barra en negro */
.topMenu{
    background-color: #222222;
    color: white;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
/* /* Grandes ofertas de comederos */
#ofertas {
    padding-left: 60px;
}
/* Barra de lenguaje */
#lenguajes {
    padding-right: 50px;
}
.topMenu span {
    margin: 20px;
}
/* Barra Menu de navegacion */
.secondMenu{
    background-color: #F0A83E;
    color: white;
    height: 62px;
    top: 20px;
    display: flex;
    justify-content: space-between; 
}
.secondMenu div {
    position: relative;
    top: 20px;
    padding-left: 30px;
}
.secondMenu ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.categoriasBarra li{
    list-style-image: url('Imagenes.png/pawprint\ 1.png');
    margin: 20px;
}  
/* Todo lo referente al banner */
.banner{
    background-image: url(Imagenes.png/bowl-and-pet-daities-on-green-background\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 409px;
    top: -50px;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
h1 {
    background-color: white;
    border-radius: 5px;
    color: #3C2313;
    text-align: center;
    font-size: 40px;
    line-height: 35px;
    font-weight: normal;
    margin: 12px;

}
.comederos{
    color: #3C2313;
    text-align: center;
    font-style: bold;
    font-size: 20px;
    line-height: 19px;
    margin: 12px;
}

.boton{
    background-color: #F0A83E;
    width: 141px;
    height: 30px;
    color: white;
    text-align: center;
    font-size: 20px;
    border-radius: 5px;
    margin: 12px;
} 

/* Prductos destacados */

.products {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

h2 {
    color: #3C2313;
    font-size: 20px;
    font-weight: bold;
    font-size: 40px;
}
.products span {
    margin: 20px;
}
div {
 color: #F0A83E;
 font-style: medium;
 font-weight: 500;
font-size: 15px;
Line-height: 18px;
line-height:100%;
}

/* Cards de los productos en ventas */
.cards {
display:flex;
justify-content: space-around;
align-items: center;
}
.cards article {
    text-align: center;
}
/* FORMULARIO :D */
h3 {
    color: #3C2313;
    font-size: 20px;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
}
.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.buttons {
    background-color:#3C2313;
    color: white;
    width: 340px;
    height: 40px;
    border: solid;
    border-radius: 15px;
    font-size: 10px;
    text-align: center;
}

.resetButton {
    background-color: #8A8787;
    width: 110px;
    height: 34px;
    border-radius: 15px;
    border: solid;
    font-size: 16px;
    color: white;
}

.submitButton {
    background-color: #F0A83E;
    width: 110px;
    height: 34px;
    border-radius: 15px;
    border: solid;
    font-size: 16px;
    color: white;
}

/* Suscripcion */
.novedades {
    background-color: #F0A83E;
    display: flex;
    justify-content: space-between;
    
}
.suscription {
    color: white;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    min-width: none;
    max-width: none;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    margin: 12px;
}
.suscriptionForm {
    background-color: white;
    border: solid white;
    width: 271px;
    height: 40px;
    border-radius: 15px;
}
.formulario {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 15px;
}
.suscriptionButton {
    background-color: #3C2313;
    border: solid #3C2313;
    border-radius: 15px;
    width: 100px;
    height: 34px;
    color: white;

}
/* Todo lo relacionado con el footer */
.contacto {
    background-color: #3C2313;
    
}
.imagenesFooter {
    max-width: none;
    min-width: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 12px;
}
.derechos {
    background-color: black;
    color: white;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 12px;
}
 